.lds-dual-ring {
  display: inline-block;
  height: 1em;
  width: 1em;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  margin: 1px;
  border-radius: 50%;
  animation: lds-dual-ring 1.2s linear infinite;
  height: 100%;
  width: 100%;
  border: 0.15em solid;
  border-color: lightgrey transparent;
}

.lds-animation {
  animation: lds-dual-ring-90 1.2s linear infinite;
}

.bi-fix-align {
  display: inline-block;
  line-height: 1em;
}

.bi-fix-align::before {
  display: inline;
  vertical-align: -0.09rem !important;
}

@media screen and (max-device-width: 767px) {
  .bi-fix-align::before {
    vertical-align: -0.15rem !important;
  }
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes lds-dual-ring-90 {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(450deg);
  }
}
