.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card {
  transition: box-shadow 0.3s;
}

.card-text > h1 {
  font-size: 1.625em;
}
.card-text > h2 {
  font-size: 1.5em;
}
.card-text > h3 {
  font-size: 1.375em;
}
.card-text > h4 {
  font-size: 1.25em;
}
.card-text > h5 {
  font-size: 1.125em;
}

.bi-arrow-repeat {
  display: inline-block;
  transform: rotate(90deg);
}
